.btn{
    border-radius: 10px;
    padding: 5px;
    background-color: #aaa;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    user-select: none;
    cursor: pointer;
    margin: 10px;

}

h2{
    margin: 0;
    padding: 0;
}